@page "/_login"

<div class="container-fluid p-0 m-0 canbo-dir-rtl" style="height: 100vh !important;">
    <div class="row w-100 p-0 m-0 h-100">


        <div class="col-4 bg-white text-center">
            <div class="text-center mb-4">
                <img src="../assets/img/logo.png" style="width: 120px;" class="mt-3" />
                <h1 class="h5 mb-3 mt-4 font-weight-normal">ECS Docs</h1>
            </div>
            <form [formGroup]="formGroup" (submit)="onSubmit()" class="form-signin">

                <div class="form-label-group">
                    <input type="text" formControlName="UserName" class="form-control text-left"
                           placeholder="User Name" required="" autofocus="">
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" formControlName="Password"
                           class="form-control text-left" placeholder="Password" required="">

                </div>

                <button class="btn btn-lg btn-danger btn-block" type="submit">Login</button>

            </form>
        </div>

        <div class="col-8 bg-danger">
            <p class="text-center font-weight-bolder text-white canbo-logo-font canbo-vertical-center ">
                <span class="border-bottom combo-border-bold">
                    E C S
                </span>
            </p>
            <p class="text-center font-weight-bolder text-white  canbo-vertical-center">
                D o c u m e n t s
            </p>
        </div>

    </div>
</div>

@code {

}
