@inherits LayoutComponentBase
@attribute [Authorize]
<div class="page">
    <div style="background-image:none;background-color:whitesmoke;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @*<Breadcrumb>

                <BreadcrumbItem>
                    <BreadcrumbLink To="/customerlist">Customer List</BreadcrumbLink>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <LoginDisplay />
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <BreadcrumbLink To="/">About</BreadcrumbLink>
                </BreadcrumbItem>
            </Breadcrumb>*@
        <div class="top-row px-4 auth">
            <a href="/VpnCustomers"><MatIcon Icon="domain"></MatIcon>VPN</a>
            <a href="/ApnCustomers"><MatIcon Icon="sim_card"></MatIcon>APN</a>
            <a href="/IntranetCustomers"><MatIcon Icon="device_hub"></MatIcon>Intranet</a>
            <LoginDisplay />
        </div>

        <div class="content px-4">


            @Body

        </div>
    </div>
</div>
