@inherits LayoutComponentBase

<div class="page">
    <div style="background-image:none;background-color:whitesmoke;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        @*<Breadcrumb>

            <BreadcrumbItem>
                <BreadcrumbLink To="/customerlist">Customer List</BreadcrumbLink>
            </BreadcrumbItem>
            <BreadcrumbItem>
                <LoginDisplay />
            </BreadcrumbItem>
            <BreadcrumbItem>
                <BreadcrumbLink To="/">About</BreadcrumbLink>
            </BreadcrumbItem>
        </Breadcrumb>*@
        <div class="top-row px-4 auth">
            <a   href="/customerlist">Customer List</a>
            <LoginDisplay />
        </div>

        <div class="content px-4">


            @Body

        </div>
    </div>
</div>
