@page "/"
<div>
    <h1>Mobinnet ECS Documents</h1>

    Welcome to your new portal.
</div>

<div class="page-background-class" style="height:396px;width:1000px">
</div>
@*<SurveyPrompt Title="How is Blazor working for you?" />*@

